# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
.vite
vite.svg

# Build outputs
/dist
/build
/.react-router

# Cloudflare
/.wrangler
/.devvars
/.mf

# Editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

node_modules
node_modules/*
.vite
dist
build
.react-router
.devvars
.mf


# Env
.env*
!.env.example
